@{
    ViewData["Title"] = "One Wedding";
}

<h1>@ViewBag.OneWedding.WedderOne & @ViewBag.OneWedding.WedderTwo</h1>


@foreach (User a in @ViewBag.OneWeddingPlus.UserList)
{
  <p>a.FirstName a.LastName</p>  
}


